* {
  box-sizing: border-box;
}

a {
  margin-bottom: 15px;
}

h1,
h2 {
  color: #007bff;
}

.container {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}

.content {
  background: #fff;
  box-shadow: rgb(61, 61, 61);
  padding-top: 5px;
  border: 2px solid rgb(225, 225, 225);
}

.errors {
  background: rgb(225, 225, 225);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

button.error {
  border: none;
  background-color: #fff;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

button.error:hover {
  background: rgb(245, 245, 245);
}

.error > h4 {
  margin-top: 0;
}

.logo {
  width: 100%;
  padding: 15px;
}

.logs {
  height: 300px;
  width: 100%;
  border: 1px solid black;
  overflow: scroll;
  text-align: left;
  background: rgb(225, 225, 225);
}

.log-entry {
  display: block;
}
