/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
}

body::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background-image: url('./assets/background.png');
  background-repeat: repeat;
  background-size: 25%;
}
